In [ ]:
'''Q1. Create one variable containing following type of data:
(i) string
(ii) list
(iii) float
(iv) tuple'''

In [1]:
#Ans
Name="kallappa"
My_lst=[1,2,2,'kallu']
Num=2.5

In [ ]:
'''Q2. Given are some following variables containing data:
(i) var1 = ‘ ‘
(ii) var2 = ‘[ DS , ML , Python]’
(iii) var3 = [ ‘DS’ , ’ML’ , ‘Python’ ]
(iv) var4 = 1.
What will be the data type of the above given variable.'''

In [3]:
#Ans
Var1=''
var2='[Ds,ML,Python]'
var3=['DS','ML','python']
var4=1

In [4]:
type(Var1)

str

In [7]:
type(var2)

str

In [9]:
type(var3)

list

In [10]:
type(4)

int

In [ ]:
'''Q3. Explain the use of the following operators using an example:
(i) /
(ii) %
(iii) //
(iv) **
'''

In [13]:
#Ans
#/ it is used to devide one number from another number
#ex-

23/4

5.75

In [ ]:
#%-this operater is used to get the reminder when you divied one number with other

In [15]:
#ex-
23%3

2

In [ ]:
'''// this operater is known as floor division or integer division and it will divide one number with other and round the value to
the nearest number'''

In [20]:
23//3

7

In [21]:
##**- it is used to get the power value of any number
#ex-

5**2

25

In [ ]:
'''Q4. Create a list of length 10 of your choice containing multiple types of data. Using for loop print the
element and its data type.'''

In [8]:
lst=[1,2,3.4,'kallu',True,789,'pwskills',3,54,0]

for x in lst:
        print(type (x))

<class 'int'>
<class 'int'>
<class 'float'>
<class 'str'>
<class 'bool'>
<class 'int'>
<class 'str'>
<class 'int'>
<class 'int'>
<class 'int'>

In [ ]:
'''5. Using a while loop, verify if the number A is purely divisible by number B and if so then how many 
times it can be divisible.'''

In [1]:
##Ans
a =  2 
b = 5
while True:
    if a % b == 0:
        c = a // b
        print(f"the number is {a} is divisible by {b} for {c} times")
        break
    else:
        print(f"the number is {a} is not purely  divisible by {b}")
        break

the number is 2 is not purely  divisible by 5

In [ ]:
'''6. Create a list containing 25 int type data. Using for loop and if-else condition print if the element is 
divisible by 3 or not'''

In [17]:
for x in range(0,25):
    if x%3==0:
        print("elment is divisible by 3")
        
    else:
        print("the number is not divisible by 3")

elment is divisible by 3
the number is not divisible by 3
the number is not divisible by 3
elment is divisible by 3
the number is not divisible by 3
the number is not divisible by 3
elment is divisible by 3
the number is not divisible by 3
the number is not divisible by 3
elment is divisible by 3
the number is not divisible by 3
the number is not divisible by 3
elment is divisible by 3
the number is not divisible by 3
the number is not divisible by 3
elment is divisible by 3
the number is not divisible by 3
the number is not divisible by 3
elment is divisible by 3
the number is not divisible by 3
the number is not divisible by 3
elment is divisible by 3
the number is not divisible by 3
the number is not divisible by 3
elment is divisible by 3

In [4]:
lst=[1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25]
for i in lst:
    if i%3==0:
        print('the number is divisble by 3')
    else:
        print('the number is not divisble by 3')

the number is not divisble by 3
the number is not divisble by 3
the number is divisble by 3
the number is not divisble by 3
the number is not divisble by 3
the number is divisble by 3
the number is not divisble by 3
the number is not divisble by 3
the number is divisble by 3
the number is not divisble by 3
the number is not divisble by 3
the number is divisble by 3
the number is not divisble by 3
the number is not divisble by 3
the number is divisble by 3
the number is not divisble by 3
the number is not divisble by 3
the number is divisble by 3
the number is not divisble by 3
the number is not divisble by 3
the number is divisble by 3
the number is not divisble by 3
the number is not divisble by 3
the number is divisble by 3
the number is not divisble by 3

In [ ]:
'''7. What do you understand about mutable and immutable data types? Give examples for both showing 
this property.'''

In [8]:
#ans-if you can change the value of an object without changing its identity is called mutablity
#ex- list is a mutable object

list=[1,2,4,'kallu',True]
list[3]='Data science'

In [9]:
list

[1, 2, 4, 'Data science', True]

In [10]:
#if you can't change the values of any object over time is called immutablity

#ex-  strings are immutable

Name='pw skills'

In [12]:
Name[5]

'i'

In [14]:
Name[5]='s'

TypeError: 'str' object does not support item assignment